[submodule "AssetStudioCore"]
	path = AssetStudioCore
	url = https://github.com/KiruyaMomochi/AssetStudioCore
[submodule "UsmDemuxer"]
	path = UsmDemuxer
	url = https://github.com/KiruyaMomochi/UsmDemuxerCore
