[submodule "AssetStudioCore"]
	path = AssetStudioCore
	url = https://github.com/KiruyaMomochi/AssetStudioCore
[submodule "CriDemuxer"]
	path = CriDemuxer
	url = https://github.com/KiruyaMomochi/CriDemuxerCore
[submodule "HcaConverter"]
	path = HcaConverter
	url = https://github.com/KiruyaMomochi/HcaConverterCore
